
:root{
    --primeria:#747474;
    --secudaria: #3A3A3A;
    --fontePrimaria:#E1E1E1;
    --titulos: #747474;
    
    
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    display: flex;
    justify-content: center ;
    background-color: rgb(236, 236, 236);
}
.container{
    width: 780px;
    height: 1106px;
    margin-top: 9px;
    display: flex;
    /* margin: 20px; */
}
.leftbox{
    width: 350px;
    height: 100%;
    background-color: var(--primeria);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rightbox{
    width:100%;
    height: 100%;
    background-color: #fff;
    

}
.foto{
    width: 165px;
    height: 165px;
    background-color: rgb(199, 199, 199);
    border-radius: 50%;
    margin-top: 45px;
}
.infoPessoais{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.infoPessoais div{
    width: 92%;
    height: auto;
    /* background-color: white; */
   
}
.infoPessoais div ul {
    margin-bottom:9px ;
}
.infoPessoais div ul li{
    font-size: 0.7rem;
    color: var(--fontePrimaria) ;
    list-style: none;
}
.infoPessoais div h2{
    color: var(--fontePrimaria) ;
    border-bottom: 3px solid var(--fontePrimaria);
    margin-bottom:15px ;
}
.infoPessoais .btn{
    background-color: var(--secudaria) ;
    border-radius: 4px;
    font-size: 0.7rem;
    display: flex;
    width: 70%;
    height: 30px;
    margin: 9px auto;
    color: var(--fontePrimaria) ;
    cursor: pointer;

}
.infoPessoais .btn:hover{
    background-color: rgb(82, 82, 82) ;
    
}
.infoPessoais .btn p{
    font-size: 0.7rem;
    margin: auto;

}
.infoPessoais .btn i{
    margin-right: 5px;
    color: var(--fontePrimaria) ;
}
.infoPessoais a{
    text-decoration: none;

}
.foto{
    background-image: url(perfil.jpeg);
    background-position: center;
    background-size: 120%;
    margin-bottom: 15px;
}
.rightbox{
    display: flex;
    flex-direction: column;
    padding: 9px;
}
 .nome{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}
.rightbox div h2{
    color: var(--secudaria);
}
.rightbox .sobre p{
    color: var(--secudaria);
    font-size: 0.7rem;
    margin: 6px 0;
}
.objetivo{
    color: var(--secudaria);
    font-size: 0.7rem;
    margin: 6px 0;

}
.objetivo p{
    font-size: 0.7rem;
    margin: 6px 0;
}

.nome h1{
    color: var(--secudaria);
    font-size: 2rem;
}
.nome h2{
    color: var(--titulos);
    font-size: 1.7rem;
    font-weight: 400;
}
.rightbox div .xp{
    width: 100%;
    height: auto;
    
}
.rightbox div .xp .empresa {
    width: 100%;
    height: auto;
    margin: 8px 0 0 0;
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    
}

 .xp .empresa div:nth-child(1) {
    width: 20%;
    font-size: 0.7rem;
    height: 100%;
    margin-top: 3px;
    font-weight: 700;
    margin: 0px;
}
.xp .empresa div:nth-child(2){
    width: 100%;
    height: 100%;
    padding-left: 19px;
    margin-top: 0px;
    font-weight: 700;
    font-size: 0.7rem;

    
}
.xp .empresa div:nth-child(2) p{
    font-size: 0.7rem;
}
.rightbox div .xp .empresa div:nth-child(2) p:nth-child(1n+2){
    color: var(--primeria);
    font-weight: 400;
    margin: 6px 0;
}

.rightbox .exp{
    position: relative;
    
}
.rightbox div .barra{
    position: absolute;
    width: 3px;
    height: 400px;
    background-color: var(--fontePrimaria);
    left: 86px;
}
.rightbox div .barra span{
    width: 7px;
    height: 7px;
    background-color: var(--secudaria);
    display: block;
    position: absolute;
    border-radius: 50%;

}
.rightbox div .barra span:nth-child(1){
    right: -2px;
    top: 12px;
    display: none;
}
.rightbox div .barra span:nth-child(2){
    right: -2px;
    top: 147px;
    display: none;
}
.rightbox div .barra span:nth-child(3){
    right: -2px;
    top: 300px;
    display: none;
}
.tecnologias{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.legCont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px 31px;
}

 .legBarra{
    display: flex;
    
}
 .legBarra p{
    font-weight: 400;
    margin-right: 1px;
}


 .legBarra span{
    margin: 3px;
    display: block;
    width: 15px;
    height: 15px;
    background-color: var(--fontePrimaria);
}
.legenda .legBarra span:nth-child(1){
    background-color: green;
}

.legenda, .sub{
    display: flex;
    flex-wrap: wrap;
}
.tecs p{
    font-size: 0.7rem;
    margin-bottom: 4px;
 
    
}
.tecConteiner{
    margin: 9px 0;
}
.idiomas{
    width: 100%;


}
.linguas{
    display: flex;
    margin: 9px 0;
}
.nomeMedia{
    display: none;
}
.download{
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 140px;
    width: 230px;
    background-color: #fff;
    box-shadow: 2px 2px 8px #888888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.download p{
    margin-bottom: 15px;
    text-align: center;
}
.download button{
    color: #fff;
    background-color: red;
    border: none;
    width: 150px;
    height: 30px;
    cursor: pointer;
}
.download button:hover{
    background-color: rgb(255, 25, 25);
}
.download button:active{
    background-color: rgb(238, 0, 0);
}
.btn-fechar{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -11px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.btn-fechar p{
    color: white;
    font-size: 1.7rem;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    top: 3px; 
}
.btn-fechar img{
    width: 25px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}
.btn-abrir{
    width: 30px;
    height: 30px;
    /* background-color: red; */
    border-radius: 50%;
    position: fixed;
    bottom: 150px;
    right: -8px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-abrir img{
    width: 100%;
    height: auto;
    transform: rotateY(180deg);
    border-radius: 50%;
    object-fit: cover;
}
.fchr{
    display: none;
}

@media print {
    body{
        background-color: transparent !important;
    }
    
}
@media (max-width: 768px) { 
    .rightbox div .barra span{
        display: none;
    }
    .rightbox div .barra{
        display: none;
    }
    .container{
        flex-wrap: wrap;
        height: 100%;
    }
    .rightbox{
        padding-left: 25px;
    }
    .leftbox{
        width: 100%;
        padding-bottom: 20px;
    }
    .nome{
        display: none;
    }
    .nomeMedia{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    
    }
    .nomeMedia h1{
        color: var(--fontePrimaria);
        font-size: 2rem;
    }
    .nomeMedia h2{
        color: var(--secudaria);
        font-size: 1.7rem;
        font-weight: 400;
    }
}
@media (max-width: 530px) {
   
    .legContH{
        margin: 0px 42px;
    }
    
}

.msg{
    position: fixed;
    /* left: -100%; */
    left: calc(50%-200px);
    top: 200px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 300px;
    z-index: 10;
    -webkit-box-shadow: 6px -6px 13px 1px rgba(0,0,0,0.53); 
    box-shadow: 6px -6px 13px 1px rgba(0,0,0,0.53);
    display: flex;
    /* transition: 0.5s ease-in-out; */
}
.img{
    width: 200px;
    height: 100%;
    background: #dbdbdb url(img.png) no-repeat center center;
    background-size: 150%;

}
.texto{
    width: 300px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.texto h1{
    text-align: center;
    margin: 30px 10px 0px 10px;
    font-size: 1.2rem;
}
.texto p{
    margin: 20px 10px 0px 10px;
    text-align: center;
}
.texto button{
    display: block;
    width: 170px;
    height: 35px;
    background-color: rgb(224, 74, 74);
    color: #fff;
    border: none;
    outline: none;
    margin: 40px auto;
    cursor: pointer;
}
.texto button:hover{
    background-color: rgb(212, 107, 107);
}
.texto button:active{
    background-color: rgb(218, 74, 74);
}
.btnf{
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: rgb(224, 74, 74) ;
    border-radius: 50%;
    -webkit-box-shadow: 6px -6px 13px 1px rgba(0,0,0,0.53); 
    box-shadow: 6px -6px 13px 1px rgba(0,0,0,0.53);
    left: 483px;
    top:-24px
}
.btnf span{
    position: absolute;
    width: 5px;
    height: 30px;
    display: block;
    background-color: #fff;
    border-radius: 2px;
}
.btnf span:nth-child(1){
    transform: rotate(45deg);
    left: 20px;
    top: 9px;
}
.btnf span:nth-child(2){
    transform: rotate(-45deg);
    left: 20px;
    top: 9px;
}



