
:root{
    --primeria:#747474;
    --secudaria: #3A3A3A;
    --fontePrimaria:#E1E1E1;
    --titulos: #747474;
    
    
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    display: flex;
    justify-content: center ;
    background-color: rgb(236, 236, 236);
}
.container{
    width: 780px;
    height: 1106px;
    margin-top: 9px;
    display: flex;
}
.leftbox{
    width: 848px;
    height: 100%;
    background-color: var(--primeria);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rightbox{
    width:1635px;
    height: 100%;
    background-color: #fff;
    

}
.foto{
    width: 526px;
    height: 526px;
    background-color: rgb(199, 199, 199);
    border-radius: 50%;
    margin-top: 150px;
}
.infoPessoais{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.infoPessoais div{
    width: 92%;
    height: auto;
    /* background-color: white; */
    padding: 15px;
    margin: 10px;
}
.infoPessoais div ul {
    margin-bottom:9px ;
}
.infoPessoais div ul li{
    font-size: 0.7rem;
    color: var(--fontePrimaria) ;
    list-style: none;
}
.infoPessoais div h2{
    color: var(--fontePrimaria) ;
    border-bottom: 10px solid var(--fontePrimaria);
    margin-bottom:50px ;
}
.infoPessoais .btn{
    background-color: var(--secudaria) ;
    border-radius: 20px;
    font-size: 0.7rem;
    display: flex;
    width: 60%;
    margin: 9px auto;
    color: var(--fontePrimaria) ;
    cursor: pointer;

}
.infoPessoais .btn:hover{
    background-color: rgb(82, 82, 82) ;
    
}
.infoPessoais .btn p{
    font-size: 0.7rem;
    margin: auto;

}
.infoPessoais .btn i{
    margin-right: 15px;
    color: var(--fontePrimaria) ;
}
.infoPessoais a{
    text-decoration: none;

}
.foto{
    background-image: url(perfil.jpeg);
    background-position: center;
    background-size: 120%;
}
.rightbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px;
}
.rightbox .nome{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    

}
.rightbox div h2{
    color: var(--secudaria);
}
.rightbox .sobre p{
    color: var(--secudaria);
    font-size: 0.7rem;
    margin: 20px 0;
}
.rightbox .nome{
    margin-top: 150px;
    display: flex;
    flex-direction: column;


}
.rightbox div:nth-child(1) h1{
    color: var(--secudaria);
    font-size: 2rem;
}
.rightbox div:nth-child(1) h2{
    color: var(--titulos);
    font-size: 1.7rem;
    font-weight: 400;
}
.rightbox div .xp{
    width: 100%;
    height: auto;
    
}
.rightbox div .xp .empresa {
    width: 100%;
    height: auto;
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    
}

 .xp .empresa div:nth-child(1) {
    width: 20%;
    font-size: 0.7rem;
    height: 100%;
    margin-top: 10px;
    font-weight: 700;
    margin: 0px;
}
.xp .empresa div:nth-child(2){
    width: 100%;
    height: 100%;
    padding-left: 60px;
    margin-top: 0px;
    font-weight: 700;
    font-size: 0.7rem;

    
}
.xp .empresa div:nth-child(2) p{
    font-size: 0.7rem;
}
.rightbox div .xp .empresa div:nth-child(2) p:nth-child(1n+2){
    color: var(--primeria);
    font-weight: 400;
    margin: 20px 0;
}

.rightbox .exp{
    position: relative;
    
}
.rightbox div .barra{
    position: absolute;
    width: 10px;
    height: 1350px;
    background-color: var(--fontePrimaria);
    left: 274px;
}
.rightbox div .barra span{
    width: 22px;
    height: 22px;
    background-color: var(--secudaria);
    display: block;
    position: absolute;
    border-radius: 50%;

}
.rightbox div .barra span:nth-child(1){
    right: -5px;
    top: 39px;
}
.rightbox div .barra span:nth-child(2){
    right: -5px;
    top: 461px;
}
.rightbox div .barra span:nth-child(3){
    right: -5px;
    top: 995px;
}
.tecnologias{
    width: 100%;
    height: auto;
}
.legCont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px 100px;
}

 .legBarra{
    display: flex;
    
}
 .legBarra p{
    font-weight: 400;
    margin-right: 10px;
}


 .legBarra span{
    margin: 10px;
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--fontePrimaria);
}
.legenda .legBarra span:nth-child(1){
    background-color: green;
}
.legenda{
    display: flex;
    flex-wrap: wrap;
}
.tecs p{
    font-size: 0.7rem;
    margin-bottom: 3px;
 
    
}
.tecConteiner{
    margin: 9px 0;
}
.idiomas{
    width: 100%;


}
.linguas{
    display: flex;
    margin: 9px 0;
}

/*CSS para impressão*/
@media print {
    body{
        background-color: transparent !important;
    }
    
}



